<header>
	<div class="container-header">
		<div class="logo">
			<img src="{{ asset('images/logo.png') }}" alt="Asphorn Project Logo">
		</div>
		<nav class="navbar">
			<ul>
				<li><a href="#wesite">{{ trans('header_back_to_website', app.request.locale) }}</a></li>
				<li><a href="#cours">{{ trans('header_courses', app.request.locale) }}</a></li>
				<li><a href="#account">{{ trans('header_my_account', app.request.locale) }}</a></li>
			</ul>
		</nav>
	</div>
</header>
